.rtun-btn 
{
    color: #f1ecf0;
    background-color: #743063;
    outline:none;
}
body{background:#fff;
    }
.ratings i{
    font-size: 16px;
}
.no-star{
color: #bca998;
}
i > .fa{
   color: red; 
}
.fa-star{
        color: #7b248d;
}
i> .fa {
   color: gray;  
}
.strike-text{color: red;text-decoration: line-through}
.product-image{width: 100%}

.dot{height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
}
.spec-1{
    color: #938787;
    font-size: 15px
}
h5{font-weight: 400;}
.para{font-size: 16px;}